.tabdiv {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

h3 {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.img2 {
    width: 50px;
    height: 50px;
}