.titlediv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 13px;
}

.h6-1 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h6-2 {
    color: #1877F2;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}