.watchicon {
    width: 20.269px;
    height: 17px;
}

.watchdiv {
    display: flex;
    gap: 10px;
}

h6 {
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.watchdiv2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}